.header{
  display: flex;
  justify-content: space-between;
  background: lightblue;
 
}

.logo{
  padding: 20px;
 text-decoration: none;
 color: Black;
}
 

.cart-header{
  padding: 20px;
}

.productos {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 8px;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 4px;
}
.precio-total {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}


.Footer{
  text-align: center;

}